* {
    font-family: "NanumBarunGothic", sans-serif;
}

.iconbox {
    width: 160px;
    height: 120px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(240, 240, 240) 70%, rgb(224, 224, 224) 30%);
    color: rgb(100, 100, 100);
    border-radius: 3px;
    font-size: 1.5rem;
    user-select: none;
    margin: 10px;
}

.brandLogo {
    width: 120px;
    height: 60px;
    margin-top: 13px;
}

.brandNameKor {
    margin-top: 13px;
    font-size: 1.1rem;
    font-weight: 1000;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~.iconbox {
    background: linear-gradient(rgb(200, 255, 255) 70%, rgb(0, 200, 200) 30%);
    color: rgb(255, 255, 255);
}