.moreCardsZone {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    width: 60vw;
    height: 80px;
    margin: 0px auto;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.moreCardsZone:hover {
    background-color: rgb(0, 200, 200);
    transition: 0.5s;
}

.moreCardsZone:hover>.cardName {
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.moreCardRankGold {
    width: 70px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    background-color: rgb(252, 180, 52);
    color: white;
    font-size: 2rem;
    
    text-align: center;
}

.moreCardRankSilver {
    width: 70px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    background-color: silver;
    color: white;
    font-size: 2rem;
    
    text-align: center;
}

.moreCardRankBronze {
    width: 70px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    background-color: rgb(161, 118, 82);
    color: white;
    font-size: 2rem;
    
    text-align: center;
}

.moreCardRankNormal {
    width: 70px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    background-color: rgb(0, 200, 200);
    color: white;
    font-size: 2rem;
    
    text-align: center;
}

.cardImages {
    height: 60px;
    border: 1px rgb(170, 170, 170) solid;
    border-radius: 4px;
    box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.3);
    margin-left: 20px;
    margin-top: -15px;
}

.cardCompanyImage {
    height: 60px;
    margin-top: -15px;
    margin-left: 20px;
}

.cardName {
    width: calc(60vw - 420px);
    height: 80px;
    position: relative;
    top: -72px;
    left: 400px;
    font-size: 1.5rem;
    
    display: flex;
    align-items: center;
    word-break: keep-all;
    line-height: 1;
}



@media screen and (max-width: 1200px) {
    .moreCardsZone {
        width: 90vw;
        height: 60px;
        margin-left: 5vw;
    }


    .moreCardRankGold {
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 10px;
    }

    .moreCardRankSilver {
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 10px;
    }

    .moreCardRankBronze {
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 10px;
    }

    .moreCardRankNormal {
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 10px;
    }

    .cardImages {
        height: 40px;
        border-radius: 3px;
        margin-left: 10px;
        margin-top: -20px;
    }

    .cardCompanyImage {
        height: 0px;
    }

    .cardName {
        width: calc(90vw - 200px);
        height: 60px;
        top: -55px;
        left: 190px;
        font-size: 1rem;
    }
}