* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "NanumBarunGothic", sans-serif;
    text-align: center;
}

.moreCardZone {
    display: flex;
    width: 1080px;
}

.moreCardRankGold {
    width: 100px;
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    background-color: rgb(252,180,52);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 1000;
}

.moreCardRankSilver {
    width: 100px;
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    background-color: silver;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 1000;
}

.moreCardRankBronze {
    width: 100px;
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    background-color: rgb(161,118,82);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 1000;
}

.moreCardRankNormal {
    width: 100px;
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    background-color: rgb(0,200,200);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 1000;
}

.moreCardImage {
    height: 100px;
    margin: 10px;
    text-align: center;
    border-radius: 9px;
    background-color: rgb(204,244,244);
    box-shadow: 0px 2px 3px rgb(100, 100, 100);
}

.moreCardCompanyImage {
    height: 60px;
    margin-top: 35px;
}

.moreCardName {
    height: 100%;
    margin-top: 50px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 1000;
}

.cardInfoButton {
    margin: auto;
    display: block;
    width: 100px;
    height: 40px;
    font-size: 1rem;
    align-items: center;
    background-color: rgb(243, 156, 18);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}