.serviceRow {
    display: block;
    margin: 0px auto;
    width: 60vw;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sendButtonEnable {
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    font-size: 1.8rem;
    background: linear-gradient(135deg, rgb(250, 200, 100) 10%, rgb(250, 150, 0) 90%);
    color: rgb(255, 255, 255);
    border: transparent;
    cursor: pointer;
    z-index: 1;
}

.sendButtonDisable {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: calc(100vh - 80px);
    font-size: 1.8rem;
    background-color: rgb(160, 160, 160);
    color: rgb(255, 255, 255);
    border: transparent;
    cursor: none;
}

.selectedZone {
    width: 100vw;
    height: fit-content;
    position: fixed;
    bottom: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    z-index: 1;
}

.selectedElements {
    width: fit-content;
    height: fit-content;
    font-weight: 100;
    background: linear-gradient(135deg, rgb(250, 200, 100) 10%, rgb(250, 150, 0) 90%);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    word-break: keep-all;
    cursor: pointer;
}

.xLetter {
    font-weight: 1000;
    color: rgb(230, 230, 230);
    margin-left: 10px;
}



@media screen and (max-width: 1400px) {
    .serviceRow {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        transition: 0.5s;
    }
}



@media screen and (max-width: 900px) {
    .serviceRow {
        grid-template-columns: 1fr 1fr;
        width: 90vw;
        margin-left: 5vw;
        transition: 0.5s;
    }

    .sendButtonEnable {
        font-size: 1.5rem;
    }
    
    .sendButtonDisable {
        font-size: 1.5rem;
    }

    .selectedZone {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}