* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bestCardImageZone {
    margin-top: -100px;
}

.bestCardBadge {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    font-weight: 1000;
    color: rgb(204, 153, 0);
    background: linear-gradient(45deg, rgb(230, 172, 0) 10%, rgb(255, 230, 153));
    padding-top: 29px;
    position: relative;
    right: -59%;
    top: 50px;
    border-radius: 50px;
    box-shadow: 0px 4px 5px rgb(100, 100, 100);
    border: 5px solid rgb(230, 172, 0);
}

.bestCardImage {
    height: 200px;
    border-radius: 14px;
    box-shadow: 0px 4px 5px rgb(100, 100, 100);
}

.bestCardName {
    font-size: 2.7rem;
    font-weight: 1000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -30px;
}

.bestCardType {
    margin-left: 30px;
    font-size: 1.6rem;
    font-weight: 1000;
    text-align: center;
}

.bestCardCompanyImage {
    height: 100px;
    margin-bottom: -41px;
}

.bestCardMoreInfoButton {
    width: 420px;
    height: 50px;
    font-size: 1.5rem;
    align-items: center;
    background-color: rgb(243, 156, 18);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.bestCardMoreInfoButtonImage {
    filter: invert();
    width: 26px;
    margin: 12px;
    margin-left: 0;
}

.bestCardMoreInfoButtonText {
    position: relative;
    top: -16px;
}

.toCardCompanyPageButton {
    width: 250px;
    height: 50px;
    font-size: 1.5rem;
    align-items: center;
    background-color: rgb(52, 152, 219);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.toCardCompanyPageButtonImage {
    filter: invert();
    width: 26px;
    margin: 12px;
    margin-left: 0;
}

.toCardCompanyPageButtonText {
    position: relative;
    top: -16px;
}

.likeButton {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    align-items: center;
    background-color: rgb(231, 76, 60);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: -18px;
    cursor: pointer;
}

.subText {
    font-size: 2.2rem;
    font-weight: 1000;
    text-align: center;
    color: rgb(0, 200, 200);
}

.brandsZone {
    text-align: center;
}

.brandsRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.brandImageZone {
    width: 180px;
    height: 180px;
    margin: 10px;
    text-align: center;
    border-radius: 90px;
    background-color: rgb(204,244,244);
}

.brandImage {
    width: 180px;
    margin-top: 45px;
}

.brandName {
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 1000;
}

.brandInfo {
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 1000;
    color:rgb(0, 200, 200);
}

.moreCardsZone {
    text-align: center;
}

.moreCardsRow {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr;
    place-items: center;
}

.moreCardImage {
    width: 180px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 9px;
    background-color: rgb(204,244,244);
    box-shadow: 0px 2px 3px rgb(100, 100, 100);
}

.moreCardCompanyImage {
    width: 160px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -25px;
    margin-bottom: -35px;
    text-align: center;
    font-weight: 1000;
}

.moreCardName {
    width: 220px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 1000;
}

.moreCardInfoButtonsRow {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr;
    place-items: center;
}

.moreCardInfoButtons {
    width: 220px;
    height: 50px;
    margin-top: 10px;
}

.moreCardInfoButton1 {
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(243, 156, 18);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.moreCardInfoImage1 {
    filter: invert();
    width: 26px;
    margin: 12px;
}

.moreCardInfoButton2 {
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(52, 152, 219);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.moreCardInfoImage2 {
    filter: invert();
    width: 26px;
    margin: 12px;
}

.toMoreCardsButton {
    width: 250px;
    height: 50px;
    font-size: 1.5rem;
    align-items: center;
    background-color: rgb(243, 156, 18);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.goBackButton {
    width: 250px;
    height: 50px;
    font-size: 1.5rem;
    align-items: center;
    background-color: rgb(160, 160, 160);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}