.serviceRow {
    display: block;
    margin: 0px auto;
    width: 60vw;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sendButton {
    display: block;
    margin: 0px auto;
    width: 60vw;
    height: 70px;
    font-size: 1.8rem;
    background-color: rgb(250, 150, 0);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.toMainButton {
    display: block;
    margin: 0px auto;
    margin-bottom: 100px;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    background-color: rgb(160, 160, 160);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.selectedBrandsZone {
    width: 60vw;
    height: 70px;
    position: fixed;
    top: 90vh;
    left: 20vw;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 210, 250);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    border-radius: 5px;
    text-align: left;
    z-index: 3;
    display: grid;
    grid-template-columns: 120px 1px 1fr;
}

.selectedBrandsNumber {
    text-align: center;
    line-height: 70px;
}

.selectedBrandsValue {
    font-size: 2rem;
}

.selectedBrandsLine {
    border-right: 1px solid rgb(255, 255, 255);
    height: 50px;
    margin-top: 10px;
}

.selectedBrandsImage {
    height: 50px;
    margin-top: 10px;
    z-index: 4;
}



@media screen and (max-width: 1400px) {
    .serviceRow {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        transition: 0.5s;
    }
}



@media screen and (max-width: 900px) {
    .serviceRow {
        grid-template-columns: 1fr 1fr;
        width: 90vw;
        margin-left: 5vw;
        transition: 0.5s;
    }

    .selectedBrandsZone {
        width: 90vw;
        left: 5vw;
    }

    .sendButton {
        width: 90vw;
        margin-left: 5vw;
        transition: 0.5s;
    }
}