.filterBox {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    width: 60vw;
    height: fit-content;
    margin: 0px auto;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 30px;
}

.filterText {
    font-size: 1.5rem;
    line-height: 30px;
    color: rgb(0, 200, 200);
}

.filterHeader {
    color: rgb(0, 200, 200);
    margin-bottom: 10px;
}

.filterButton {
    display: grid;
    grid-template-columns: 1fr 30px;
}

.filterArrow {
    width: 30px;
}

.filterZone {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.filterZoneInside {
    margin-top: 20px;
}

.filterZoneCompanies {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
}

.filterZoneCompaniesButton {
    width: 100%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    margin: 0px auto;
    border-radius: 5px;
}

.filterZoneCardTypeButtonsZone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.filterZoneCardTypeButton {
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    margin: 0px auto;
    border-radius: 5px;
    text-align: center;
}

.cardElementZone {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    width: 60vw;
    height: 80px;
    margin: 0px auto;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.cardElementZone:hover {
    background-color: rgb(0, 200, 200);
    transition: 0.5s;
}

.cardElementZone:hover>.cardName {
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.cardImages {
    height: 60px;
    border: 1px rgb(170, 170, 170) solid;
    border-radius: 4px;
    box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.3);
    margin-left: 20px;
    margin-top: 5px;
}

.cardCompanyImage {
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
}

.cardName {
    width: calc(60vw - 270px);
    height: 80px;
    position: relative;
    top: -72px;
    left: 260px;
    font-size: 1.5rem;
    font-weight: 1000;
    display: flex;
    align-items: center;
    word-break: keep-all;
    line-height: 1;
}

.pageButtonCurrentPage {
    margin-bottom: 7px;
    padding-top: 3px;
    height: 40px;
    width: 50px;
    font-size: 1.3rem;
    font-weight: 1000;
    background-color: transparent;
    color: rgb(0, 200, 200);
    border: transparent;
    border-bottom: 3px solid rgb(0, 200, 200);
    cursor: pointer;
    transition: 0.5s;
}

.pageButtonNotCurrentPage {
    margin-bottom: 7px;
    padding-top: 3px;
    height: 40px;
    width: 50px;
    font-size: 1.3rem;
    background-color: transparent;
    color: rgb(160, 160, 160);
    border: transparent;
    border-bottom: 3px solid rgb(220, 220, 220);
    cursor: pointer;
    transition: 0.5s;
}

.pageButtonNotCurrentPage:hover {
    color: rgb(0, 200, 200);
    transition: 0.5s;
}

.leftPageButton {
    margin-right: 20px;
    height: 40px;
    width: 40px;
    font-size: 2rem;
    font-weight: 1000;
    background-color: transparent;
    color: rgb(0, 200, 200);
    border: transparent;
    cursor: pointer;
}

.rightPageButton {
    margin-left: 20px;
    height: 40px;
    width: 40px;
    font-size: 2rem;
    font-weight: 1000;
    background-color: transparent;
    color: rgb(0, 200, 200);
    border: transparent;
    cursor: pointer;
}

.arrow {
    height: 20px;
    margin-bottom: -4px;
}

.pageButtonGroup {
    text-align: center;
}

.toMainButton {
    margin: auto;
    margin-bottom: 100px;
    display: block;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    align-items: center;
    background-color: rgb(160, 160, 160);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}



@media screen and (max-width: 900px) {
    .cardElementZone {
        width: 90vw;
        height: 60px;
        margin-left: 5vw;
    }

    .cardImages {
        height: 40px;
        border-radius: 3px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .cardCompanyImage {
        height: 0px;
    }

    .cardName {
        width: calc(90vw - 100px);
        height: 60px;
        top: -55px;
        left: 90px;
        font-size: 1rem;
    }

    .pageButtonCurrentPage {
        height: 40px;
        width: 25px;
        font-size: 1rem;
        font-weight: 1000;
        background-color: transparent;
        color: rgb(0, 200, 200);
        border: transparent;
        border-bottom: 3px solid rgb(0, 200, 200);
        cursor: pointer;
    }

    .pageButtonNotCurrentPage {
        height: 40px;
        width: 25px;
        font-size: 1rem;
        background-color: transparent;
        color: rgb(160, 160, 160);
        border: transparent;
        border-bottom: 3px solid rgb(220, 220, 220);
        cursor: pointer;
    }

    .leftPageButton {
        margin-right: 10px;
        height: 40px;
        width: 20px;
        font-size: 2rem;
        font-weight: 1000;
        background-color: transparent;
        color: rgb(0, 200, 200);
        border: transparent;
        cursor: pointer;
    }

    .rightPageButton {
        margin-left: 10px;
        height: 40px;
        width: 20px;
        font-size: 2rem;
        font-weight: 1000;
        background-color: transparent;
        color: rgb(0, 200, 200);
        border: transparent;
        cursor: pointer;
    }

    .arrow {
        height: 20px;
        margin-bottom: -4px;
    }
}