* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.introText {
    font-size: 3rem;
    font-weight: 1000;
    text-align: left;
}

.cardImages {
    height: 55px;
    border: 1px rgb(170, 170, 170) solid;
    border-radius: 4px;
    box-shadow: 0px 2px 3px rgb(100, 100, 100);
    margin-top: 2px;
}

.cardCompanyImages{
    padding-left: 20px;
    height: 80px;
}

table {
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid rgb(190, 190, 190);
}

.cardName {
    width: 700px;
    font-size: 1.5rem;
    font-weight: 1000;
    padding-left: 20px;
    text-align: left;
}

.toMainButton {
    margin: auto;
    display: block;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    align-items: center;
    background-color: rgb(160, 160, 160);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.cardInfoButton {
    margin: auto;
    display: block;
    width: 100px;
    height: 40px;
    font-size: 1rem;
    align-items: center;
    background-color: rgb(243, 156, 18);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.homepageButton {
    margin: auto;
    display: block;
    width: 100px;
    height: 40px;
    font-size: 1rem;
    align-items: center;
    background-color: rgb(52, 152, 219);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.moreCardInfoButton1 {
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(243, 156, 18);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.moreCardInfoImage1 {
    filter: invert();
    width: 26px;
    margin: 12px;
}

.moreCardInfoButton2 {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(52, 152, 219);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.moreCardInfoImage2 {
    filter: invert();
    width: 26px;
    margin: 12px;

}

.pageButtonCurrentPage {
    margin-bottom: 7px;
    padding-top: 3px;
    height: 40px;
    width: 45px;
    font-size: 1.3rem;
    font-weight: 1000;
    background-color: transparent;
    color: rgb(0, 200, 200);
    border: transparent;
    border-bottom: 3px solid rgb(0, 200, 200);
    cursor: pointer;
}

.pageButtonNotCurrentPage {
    margin-bottom: 7px;
    padding-top: 3px;
    height: 40px;
    width: 45px;
    font-size: 1.3rem;
    background-color: transparent;
    color: rgb(160, 160, 160);
    border: transparent;
    border-bottom: 3px solid rgb(220, 220, 220);
    cursor: pointer;
}

.leftPageButton {
    margin-right: 20px;
    height: 35px;
    width: 35px;
    font-size: 2rem;
    font-weight: 1000;
    background-color: transparent;
    color: rgb(0, 200, 200);
    border: transparent;
    cursor: pointer;
}

.rightPageButton {
    margin-left: 20px;
    height: 35px;
    width: 35px;
    font-size: 2rem;
    font-weight: 1000;
    background-color: transparent;
    color: rgb(0, 200, 200);
    border: transparent;
    cursor: pointer;
}

.arrow {
    height: 20px;
    margin-bottom: -4px;
}

.pageButtonGroup {
    text-align: center;
}