* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "NanumBarunGothic", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

h1 {
    width: 900px;
    font-size: 3rem;
    color: rgb(50, 50, 50);
    text-align: left;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    width: 900px;
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    text-align: left;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service1Row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 50px;
}

.service2Row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}

.sendButton {
    width: 100%;
    height: 70px;
    font-size: 1.8rem;
    align-items: center;
    background-color: rgb(243, 156, 18);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.toMainButton {
    margin: auto;
    display: block;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    align-items: center;
    background-color: rgb(160, 160, 160);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.detailsZone {
    margin-bottom: 30px;
    font-size: 0px;
}