@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.mainZone {
    text-align: center;
    margin-top: 200px;
}

.fourZeroFourContainer {
    width: 600px;
    height: 200px;
    display: block;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
}

.four {
    height: 200px;
    color: rgb(0, 200, 200);
    font-size: 16rem;
    font-weight: 1000;
    line-height: 170px;
}

.deadFace {
    height: 200px;
    border: 20px solid rgb(0, 200, 200);
    border-radius: 100px;
}

.pageNotFound {
    color: rgb(0, 200, 200);
    font-family: 'Poppins', serif;
    font-size: 3rem;
    font-weight: 1000;
    margin-top: 50px;
}

.text {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(160, 160, 160);
}

.toMainButton {
    margin: auto;
    display: block;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    align-items: center;
    background-color: rgb(160, 160, 160);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}