.containerHeader {
    width: 60vw;
    font-size: 2rem;
    font-weight: 100;
    margin: 0px auto;
    margin-top: 130px;
    margin-bottom: 10px;
    color: rgb(0, 200, 200);
}

.containerHeader:nth-child(3) {
    margin-top: 50px;
}

.containerTop {
    width: 60vw;
    height: 300px;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 350px 1fr;
}

.containerTopLeft {
    display: grid;
    grid-template-rows: 100px 100px 100px;
}

.containerTopButton {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: rgb(50, 50, 50);
    padding: 20px;
    padding-left: 30px;
    border-right: 1px solid rgb(220, 220, 220);
    cursor: pointer;
}

.containerTopButton:nth-child(1) {
    border-bottom: 1px solid rgb(220, 220, 220);
}

.containerTopButton:nth-child(2) {
    border-bottom: 1px solid rgb(220, 220, 220);
}

.containerTopButton:nth-child(1):hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 200, 200);
    border-radius: 10px 0px 0px 0px;
    border-right: none;
}

.containerTopButton:nth-child(2):hover {
    color: rgb(255, 255, 255);
    background-color: rgb(250, 200, 100);
    border-right: none;
}

.containerTopButton:nth-child(3):hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 150, 250);
    border-radius: 0px 0px 0px 10px;
    border-right: none;
}

.containerTopRight1 {
    width: 100%;
    height: 300px;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(90deg, rgb(0, 200, 200) 10%, rgb(0, 100, 200) 90%);
}

.containerTopRight2 {
    width: 100%;
    height: 300px;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(90deg, rgb(250, 200, 100) 10%, rgb(250, 150, 0) 90%);
}

.containerTopRight3 {
    width: 100%;
    height: 300px;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(90deg, rgb(0, 150, 250) 10%, rgb(100, 0, 250) 90%);
}

.containerTopRightZone {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: right;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.buttonImageColor {
    width: 40px;
    margin-right: 20px;
}

.buttonImageWhite {
    width: 40px;
    margin-right: 20px;
    filter: brightness(0) invert(1);
}

.buttonArrow {
    width: 30px;
    margin-left: 20px;
    filter: invert();
}

.containerImage {
    width: 160px;
}

.containerWord {
    font-size: 1.8vw;
    margin-top: 20px;
}

.cardSliderPage {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.cardSliderLeft {
    width: 100%;
    height: 295px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardSliderRight {
    width: 100%;
    height: 295px;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.cardSliderImage {
    width: 200px;
    box-shadow: -5px 0px 10px 2px rgba(150, 150, 150, 0.5);
    border-radius: 8px;
    transform: rotate(-90deg);
}

.cardSliderName {
    font-size: min(2.5rem, 2.5vw);
    line-height: 2rem;
    word-break: keep-all;
}

.cardSliderComment {
    font-size: 1.2vw;
    word-break: keep-all;
    margin-top: 20px;
}

.containerBottom {
    width: 60vw;
    height: 300px;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    overflow-x: scroll;
}

.containerEmpty {
    width: 60vw;
    height: 300px;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(150, 150, 150);
    font-weight: 100;
    word-break: keep-all;
}

.recentCardElements {
    width: 200px;
    margin: 0px auto;
    padding-top: 50px;
    text-align: center;
    cursor: pointer;
}

.recentCardElements:hover > .recentCardName {
    color: rgb(0, 200, 200);
}

.recentCardImage {
    width: 150px;
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    border-radius: 5px;
    margin: 0px auto;
    transform: rotate(-90deg);
}

.recentCardBlank {
    width: 150px;
    height: 95px;
    margin: 0px auto;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    border-radius: 5px;
    transform: rotate(-90deg);
}

.recentCardName {
    font-size: 1rem;
    margin-top: 50px;
    text-align: center;
    word-break: keep-all;
}




@media screen and (max-width: 1300px) {
    .containerHeader {
        width: 90vw;
    }

    .containerTop {
        width: 90vw;
    }

    .containerBottom {
        width: 90vw;
    }

    .containerEmpty {
        width: 90vw;
    }
}



@media screen and (max-width: 800px) {


    .containerHeader {
        font-size: 1.5rem;
        margin-top: 40px;
    }

    .containerHeader:nth-child(3) {
        margin-top: 30px;
    }

    .containerTop {
        height: 120px;
        grid-template-columns: 1fr;
    }

    .containerTopLeft {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .containerTopButton {
        font-size: min(3.5vw, 1.2rem);
        height: 120px;
        padding-left: 3vw;
        padding-right: 3vw;
        border: none;
        display: grid;
        grid-template-rows: 1fr 1fr;
        word-break: keep-all;
    }

    .containerTopButton:nth-child(1) {
        border-bottom: none;
        border-right: 1px solid rgb(220, 220, 220);
    }

    .containerTopButton:nth-child(2) {
        border-bottom: none;
        border-right: 1px solid rgb(220, 220, 220);
    }

    .containerTopButton:nth-child(1):hover {
        border-radius: 10px 0px 0px 10px;
    }

    .containerTopButton:nth-child(3):hover {
        border-radius: 0px 10px 10px 0px;
    }

    .containerTopRight {
        display: none;
    }

    .buttonArrow {
        display: none;
    }

    .cardSliderContainer {
        width: 100vw;
        height: 250px;
        margin-top: 60px;
        padding-top: 60px;
    }

    .cardSliderPage {
        height: 300px;
        display: block;
        margin: 0px auto;
        margin-top: 0px;
        text-align: center;
    }

    .cardSliderImage {
        width: min(200px, 60vw);
        box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.5);
        border-radius: 8px;
        transform: none;
    }
    
    .cardSliderName {
        font-size: min(1.5rem, 6vw);
        line-height: 2rem;
        word-break: keep-all;
        margin-top: 20px;
    }
    
    .cardSliderComment {
        font-size: min(1rem, 3vw);
        word-break: keep-all;
        margin-top: 0px;
    }

    .containerBottom {
        height: 200px;
        padding-left: 10px;
        padding-right: 10px;
        gap: 0px;
    }

    .recentCardElements {
        padding-top: 15px;
    }

    .recentCardImage {
        width: 120px;
    }
    
    .recentCardBlank {
        width: 120px;
        height: 75px;
    }

    .recentCardName {
        font-size: 1rem;
        margin-top: 30px;
    }
}