* {
    font-family: "NanumBarunGothic", sans-serif;
}

.introText {
    font-size: 2rem;
    font-weight: 1000;
    color: rgb(0, 200, 200);
    text-align: center;
}

.buttonsRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.service1Button {
    width: 400px;
    height: 600px;
    margin: 20px;
    padding-top: 40px;
    padding-left: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(243, 156, 18);
    border: transparent;
    border-radius: 5px;
}

.service2Button {
    width: 400px;
    height: 600px;
    margin: 20px;
    padding-top: 40px;
    padding-left: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(52, 152, 219);
    border: transparent;
    border-radius: 5px;
}

.listButton {
    width: 400px;
    height: 600px;
    margin: 20px;
    padding-top: 40px;
    padding-left: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 200, 200);
    border: transparent;
    border-radius: 5px;
}

.mainText {
    font-size: 3.5rem;
    text-align: left;
}

.subText{
    font-size: 1.5rem;
    text-align: left;
}