.mainContainer {
    width: 60vw;
    margin: 0px auto;
    margin-bottom: 20px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    padding: 30px;
}

.subContainer {
    width: 60vw;
    margin: 0px auto;
    margin-bottom: 20px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    padding: 30px;
    display: grid;
    grid-template-columns: 40px 1fr;
    cursor: pointer;
}

.menuContainer {
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 20px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 40px 1fr;
}

.menuGraphic {
    width: 40px;
}

.menuHeader {
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}

.inputContainer {
    height: 40px;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.infoType {
    font-size: 1.2rem;
    width: 200px;
    height: 40px;
    color: rgb(0, 200, 200);
}

.inputBox {
    font-size: 2rem;
    width: 400px;
    height: 40px;
    color: rgb(0, 200, 200);
    border: none;
    border-bottom: 2px solid rgb(0, 200, 200);
    letter-spacing: 5px;
}

.inputBox:focus {
    outline: none;
}

.resignButtonEnabled {
    font-size: 1.2rem;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(135deg, rgb(255, 160, 160) 0%, rgb(255, 80, 80) 100%);
    color: rgb(255, 255, 255);
    border: transparent;
    margin-top: 50px;
    cursor: pointer;
}

.resignButtonDisabled {
    font-size: 1.2rem;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(135deg, rgb(200, 200, 200) 0%, rgb(120, 120, 120) 100%);
    color: rgb(255, 255, 255);
    border: transparent;
    margin-top: 50px;
}



@media screen and (max-width: 1200px) {
    .mainContainer {
    width: 90vw;
    }

    .infoType {
        width: 100%;
        margin-bottom: 0px;
    }

    .inputContainer {
        height: 60px;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .inputBox {
        width: 100%;
    }

    .subContainer {
        width: 90vw;
    }

    .submitButton {
        width: 100%;
    }

    .resignButtonEnabled {
        width: 100%;
    }

    .resignButtonDisabled {
        width: 100%;
    }
}