.mainZone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    height: 45px;
    width: 45px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.type {
    width: 85px;
    height: fit-content;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 1000;
    text-align: left;
    color: rgb(100, 100, 100);
}

.value {
    width: 130px;
    height: fit-content;
    font-size: 3.5rem;
    font-weight: 1000;
    text-align: right;
    color: rgb(0, 120, 250);
}

.gae {
    width: 30px;
    height: fit-content;
    margin-top: 20px;
    font-size: 2rem;
    text-align: right;
    color: rgb(0, 120, 250);
}



@media screen and (max-width: 600px) {
    .icon {
        height: 60px;
        width: 60px;
        margin-left: calc(50vw - 30px);
        margin-right: calc(50vw - 30px);
    }

    .type {
        width: fit-content;
        margin-right: 10px;
    }

    .value {
        width: fit-content;
        margin-left: 10px;
    }

    .gae {
        width: fit-content;
    }
}