.backgroundZone {
    display: block;
    margin: 0px auto;
    width: 1100px;
    margin-top: 100px;
}

.mainZone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 200px;
}

.infoZone1 {
    width: 200px;
    font-size: 2rem;
    font-weight: 1000;
    background-color: rgb(0, 120, 250);
    border: 5px solid rgb(0, 120, 250);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.infoZone2 {
    width: 280px;
    font-size: 2rem;
    font-weight: 1000;
    text-align: center;
    border-bottom: 5px solid rgb(0, 120, 250);
    color: rgb(160, 160, 160);;
}

.infoZoneValue {
    text-align: left;
    font-size: 6rem;
    color:rgb(0, 120, 250);
}

.emptySpace {
    width: 20px;
}