.backgroundZone {
    height: 500px;
    width: 100vw;
    background-color: rgb(220, 255, 255);
}

.mainZone {
    width: 1000px;
    display: block;
    margin: 0px auto;
    position: relative;
    top: 50px;
}

.graphicZone {
    width: 600px;
}

.graphic {
    height: 300px;
    margin-left: 50px;
}

.text1 {
    background-color: rgb(243, 156, 18);
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 500;
    text-align: right;
    margin-top: -180px;
    margin-right: 55px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    border-radius: 5px;
}

.text2 {
    color: rgb(243, 156, 18);
    font-size: 4.5rem;
    font-weight: 1000;
    text-align: right;
    margin-top: -140px;
    margin-right: 50px;
    float: right;
}

.text3 {
    color: rgb(243, 156, 18);
    font-size: 1.5rem;
    text-align: right;
    margin-top: -60px;
    margin-right: 50px;
    float: right;
}