.backgroundZone {
    height: 600px;
    width: 100vw;
    background: linear-gradient(135deg, rgb(0,200,200) 10%, rgb(50, 100, 200) 90%);
}

.startText {
    display: block;
    margin: 0px auto;
    color: rgb(250, 150, 0);
    width: fit-content;
    font-size: 2rem;
    text-align: center;
}

.startButton {
    display: block;
    margin: 0px auto;
    width: 200px;
    height: 60px;
    font-size: 2rem;
    font-weight: 1000;
    align-items: center;
    background-color: rgb(250, 150, 0);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.startButton:hover {
    background-color: rgb(0, 200, 200);
    transition: 500ms;
}

.registerZone {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}

.registerText {
    font-size: 1.3rem;
    font-weight: 1000;
    color: rgb(160, 160, 160);
    margin-right: 5px;
}

.registerButton {
    font-size: 1.3rem;
    font-weight: 1000;
    color: rgb(250, 150, 0);
    cursor: pointer;
    margin-left: 5px;
}

.cardDataIcon {
    height: 80px;
    display: block;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

.cardDataIntro {
    width: fit-content;
    height: fit-content;
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: rgb(0, 120, 250);
    color: rgb(255, 255, 255);
    border-radius: 6px;
}

.cardDataZone {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}

.cardDataText {
    font-size: 1.3rem;
    font-weight: 1000;
    color: rgb(160, 160, 160);
    margin-right: 5px;
}

.cardDataButton {
    font-size: 1.3rem;
    font-weight: 1000;
    color: rgb(0, 120, 250);
    cursor: pointer;
    margin-left: 5px;
}



@media screen and (max-width: 600px) {
    .backgroundZone {
        height: 450px;
        transition: 0.5s;
    }

    .startText {
        margin-top: 20px;
    }

    .registerText {
        width: 100vw;
        text-align: center;
        margin-right: 0px;
    }

    .registerButton {
        width: 100vw;
        text-align: center;
        margin-left: 0px;
    }

    .cardDataIcon {
        margin-top: 60px;
    }

    .cardDataText {
        width: 100vw;
        text-align: center;
        margin-right: 0px;
    }

    .cardDataButton {
        width: 100vw;
        text-align: center;
        margin-left: 0px;
    }
}