.backgroundZone {
    height: 500px;
    width: 100vw;
}

.graphic {
    width: 300px;
    display: block;
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

.text1 {
    display: block;
    margin: 0px auto;
    width: fit-content;
    color: rgb(0, 200, 200);
    font-size: 2rem;
    font-weight: 1000;
    border-bottom: 2px solid rgb(200, 200, 200);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.text2 {
    display: block;
    margin: 0px auto;
    width: fit-content;
    color: rgb(255, 255, 255);
    font-size: 3.2rem;
    font-weight: 1000;
    margin-top: 15px;
}



@media screen and (max-width: 600px) {
    .backgroundZone {
        height: 350px;
    }

    .graphic {
        width: 200px;
        padding-top: 30px;
        margin-bottom: 10px;
    }

    .text1 {
        font-size: 1.2rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    .text2 {
        font-size: 2rem;
        margin-top: 10px;
    }
}