* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper {
    position: absolute;
    left: 10%;
}

.startText {
    color: rgb(243, 156, 18);
    width: 300px;
    font-size: 2rem;
    text-align: center;
    display: block;
    margin: 0px auto;
    margin-top: 50px;
}

.startButton {
    width: 300px;
    height: 60px;
    font-size: 2rem;
    align-items: center;
    background-color: rgb(243, 156, 18);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    padding-top: 5px;
}

.registerZone {
    width: 400px;
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(160, 160, 160);
}

.registerButton {
    font-weight: 1000;
    color:rgb(243, 156, 18);
    cursor: pointer;
}

.databaseZone {
    width: 600px;
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(160, 160, 160);
}

.databaseButton {
    font-weight: 1000;
    color:rgb(0, 120, 250);
    cursor: pointer;
}