.backgroundZone {
    height: 500px;
    width: 100vw;
    background-color: rgb(220, 255, 255);
}

.graphicRows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: 0px auto;
    padding-top: 80px;
    padding-bottom: 60px;
}

.graphic {
    width: 200px;
}

.text1 {
    display: block;
    margin: 0px auto;
    width: fit-content;
    color: rgb(0, 120, 250);
    font-size: 1.6rem;
    font-weight: 1000;
    border-bottom: 2px solid rgb(200, 200, 200);
    padding-left: 30px;
    padding-right: 30px;
}

.text2 {
    display: block;
    margin: 0px auto;
    width: fit-content;
    color: rgb(0, 120, 250);
    font-size: 3.2rem;
    font-weight: 1000;
    margin-top: 20px;
}



@media screen and (max-width: 600px) {
    .backgroundZone {
        height: 350px;
    }

    .graphicRows {
        width: 360px;
        margin: 0px auto;
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .graphic {
        width: 120px;
        padding-top: 20px;
    }

    .text1 {
        font-size: 1.2rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    .text2 {
        font-size: 2rem;
        margin-top: 10px;
    }
}