.backgroundZone {
    height: 500px;
    width: 100vw;
    display: block;
    margin: 0px auto;
    background-color: rgb(220, 255, 255);
}

.graphicZone {
    width: 720px;
    display: block;
    margin: 0px auto;
    position: relative;
    top: 60px;
}

.graphicRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.graphic {
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.text1 {
    background-color: rgb(50, 100, 200);
    color: rgb(255, 255, 255);
    width: 320px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    border-radius: 5px;
    display: block;
    margin: 0px auto;
    margin-top: 60px;
}

.text2 {
    color: rgb(50, 100, 200);
    text-align: center;
    font-size: 4.5rem;
    font-weight: 1000;
    display: block;
    margin: 0px auto;
}