.backgroundZone {
    height: 500px;
    width: 100vw;
    display: block;
    margin: 0px auto;
    background-color: rgb(220, 255, 255);
}

.graphic {
    height: 250px;
    display: block;
    margin: 0px auto;
    padding-top: 40px;
}

.text1 {
    width: fit-content;
    background-color: rgb(243, 156, 18);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 0px;
    border-radius: 5px;
    display: block;
    margin: 0px auto;
    margin-top: 20px;
}

.text1Content {
    display: inline-block;
}

.text2 {
    color: rgb(243, 156, 18);
    text-align: center;
    font-size: 4rem;
    font-weight: 1000;
    display: block;
    margin: 0px auto;
}