.header {
    display: flex;
    position: fixed;
    align-items: center;
    height: 80px;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 1.5px solid rgb(200, 200, 200);
    background-color: white;
    z-index: 10;
}

.titleLogo {
    margin-left: 20vw;
    margin-top: 5px;
    height: 100px;
    cursor: pointer;
}

.headerButton {
    display: flex;
    position: fixed;
    right: 20vw;
    height: 40px;
    cursor: pointer;
}

.headerClickedZone {
    display: grid;
    position: fixed;
    top: 90px;
    right: 20vw;
    height: 200px;
    width: 300px;
    background-color: rgba(0, 200, 200, 0.7);
    border-radius: 5px;
    z-index: 9;
}

.headerClickedZoneCloseButton {
    font-size: 1.5rem;
    font-weight: 1000;
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    z-index: 10;
}

.headerClickedText1 {
    font-size: 1.3rem;
    text-align: left;
    margin-left: 30px;
    margin-top: -30px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    
}

.headerClickedText2 {
    font-size: 1.3rem;
    text-align: left;
    margin-left: 30px;
    margin-top: -20px;
    color: rgb(255, 255, 255);
}

.headerClickedZoneButton1 {
    width: 240px;
    height: 40px;
    border: 0px;
    display: block;
    margin: 0px auto;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: rgb(250, 150, 0);
    border-radius: 5px;
    cursor: pointer;
}

.headerClickedZoneButton2 {
    width: 240px;
    height: 40px;
    border: 0px;
    display: block;
    margin: 0px auto;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: rgb(52, 152, 219);
    border-radius: 5px;
    cursor: pointer;
}



@media screen and (max-width: 1200px) {
    .titleLogo {
        margin-left: 5vw;
        height: 80px;
        transition: 0.5s;
    }

    .headerButton {
        right: 5vw;
        height: 30px;
        transition: 0.5s;
    }

    .headerClickedZone {
        top: 80px;
        left: 0vw;
        right: 0vw;
        height: 200px;
        width: 100vw;
        border: 0px;
        padding: 20px;
        border-radius: 5px;
    }

    .headerClickedZoneCloseButton {
        margin-top: 0px;
    }

    .headerClickedText1 {
        text-align: center;
        margin-left: 0px;
        color: rgb(255, 255, 255);
    }

    .headerClickedText2 {
        text-align: center;
        margin-left: 0px;
        color: rgb(255, 255, 255);
    }
}