.topButton {
    position: fixed;
    opacity: 0;
    bottom: calc(10vh - 70px);
    right: 2%;
    z-index: -10;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    background: rgb(0, 200, 200);
    color: white;
    font-size: 1rem;
    letter-spacing: -0.06em;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}

.topButton.active {
    z-index: 10;
    opacity: 1;
}

.topButton:hover,
.topButton:focus,
.topButton:active {
    outline: 0 none;
}

.arrow {
    filter: invert();
    height: 14px;
    margin-bottom: -3px;
}