@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, rgb(230, 255, 255) 40%, rgb(0,200,200) 100%);
}

.registerZone {
    margin-left: calc(50vw - 600px);
    margin-right: calc(50vw - 600px);
    margin-top: calc(50vh - 310px);
    height: 700px;
    width: 1200px;
}

.registerZoneLeft {
    float: left;
    background: linear-gradient(45deg, rgb(0, 120, 120) 0%, rgb(0, 240, 240) 80%);
    height: 700px;
    width: 500px;
    border-radius: 10px 0px 0px 10px;
}

.registerZoneRight {
    height: 700px;
    width: 700px;
    float: right;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 10px 10px 0px;
}

.mainTitle {
    font-size: 4rem;
    font-family: 'Poppins', serif;
    color: rgb(0, 200, 200);
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    letter-spacing: -3px;
}

.subTitle {
    font-size: 1.3rem;
    color: rgb(160, 160, 160);
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
}

.inputZone input {
    text-align: center;
    width: 600px;
    height: 60px;
    font-size: 2rem;
    font-weight: 1000;
    color: rgb(0, 200, 200);
    text-align: left;
    background-color: rgb(255, 255, 255);
    border: transparent;
    border-bottom: 2px solid rgb(0, 200, 200);
    margin-left: 50px;
    margin-bottom: 10px;
}

.inputZone input:focus {
    outline: none;
}

.inputZone input::placeholder {
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerButton {
    width: 600px;
    height: 70px;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(250, 150, 0);
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 50px;
    cursor: pointer;
}

.registerCancelButton {
    display: block;
    margin: 0px auto;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(160, 160, 160);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkedIDZone {
    font-size: 1.3rem;
    font-weight: 1000;
    color: rgb(255, 100, 100);
    margin-left: 50px;
    margin-top: 10px;
}

.checkedPWZone {
    font-size: 1.3rem;
    font-weight: 1000;
    color: rgb(255, 100, 100);
    margin-left: 50px;
    margin-top: 10px;
}



@media screen and (max-width: 1300px), (max-height: 900px) {
    .registerZone {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: calc(5vw + 80px);
        margin-bottom: calc(5vw);
        width: 90vw;
        height: calc(100vh - 10vw - 80px);
        border-radius: 0px;
    }

    .registerZoneLeft {
        background: transparent;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .registerZoneRight {
        background-color: rgb(255, 255, 255);
        width: 90vw;
        height: calc(100vh - 10vw - 80px);
        border-radius: 10px;
    }

    .mainTitle {
        text-align: left;
        font-size: 3rem;
        margin-left: 5vw;
        margin-top: 5vh;
    }

    .subTitle {
        text-align: left;
        font-size: 0.8rem;
        margin-left: 5vw;
        margin-bottom: 20px;
    }

    .inputZone input {
        width: 80vw;
        height: 50px;
        font-size: 2rem;
        margin-left: 5vw;
    }

    .inputZone input::placeholder {
        font-size: 1.2rem;
    }

    .registerButton {
        width: 80vw;
        height: 50px;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: 5vw;
    }

    .registerCancelButton {
        height: 40px;
        font-size: 1.1rem;
        margin-top: -10px;
    }

    .checkedIDZone {
        font-size: 1rem;
        margin-left: 5vw;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .checkedPWZone {
        font-size: 1rem;
        margin-left: 5vw;
        margin-top: 0px;
    }
}