@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, rgb(0, 200, 200) 40%, rgb(50, 100, 200) 90%);
}

.registerZone {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: calc(50vh - 270px);
    width: 60vw;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 500px;
}

.registerZoneLeft {
    width: calc(60vw - 500px);
    height: 600px;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.registerZoneRight {
    width: 500px;
    height: 600px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 0.3);
    padding: 50px;
}

.titleLogo {
    height: 200px;
    filter: brightness(0) invert(1);
}

.graphic {
    height: 300px;
    float: right;
    margin-right: 200px;
}

.mainTitle {
    font-size: 3rem;
    font-family: 'Poppins', serif;
    font-weight: 500;
    color: rgb(0, 200, 200);
    letter-spacing: -3px;
    margin-top: -10px;
}

.subTitle {
    font-size: 1rem;
    color: rgb(160, 160, 160);
    margin-top: -10px;
    margin-bottom: 15px;
}

.inputZone input {
    text-align: center;
    width: 400px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 1000;
    color: rgb(0, 200, 200);
    text-align: left;
    background-color: rgb(255, 255, 255);
    border: transparent;
    border-bottom: 2px solid rgb(0, 200, 200);
    margin-bottom: 1px;
}

.inputZone input:focus {
    outline: none;
}

.inputZone input::placeholder {
    font-size: 1.2rem;
    color: rgb(200, 200, 200);
}

.infoType {
    display: inline-block;
    width: 100px;
    font-size: 1.2rem;
}

.genderButtonOn {
    width: 150px;
    height: 40px;
    font-size: 1.5rem;
    border: none;
    border-bottom: 2px solid rgb(0, 200, 200);
    color: rgb(0, 200, 200);
    background-color: rgb(255, 255, 255);
}

.genderButtonOff {
    width: 150px;
    height: 40px;
    font-size: 1.5rem;
    border: none;
    border-bottom: 2px solid rgb(200, 200, 200);
    color: rgb(200, 200, 200);
    background-color: rgb(255, 255, 255);
}

.birthInputZone input {
    text-align: center;
    width: 300px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 1000;
    color: rgb(0, 200, 200);
    text-align: left;
    background-color: rgb(255, 255, 255);
    border: transparent;
    border-bottom: 2px solid rgb(0, 200, 200);
    margin-bottom: 10px;
}

.birthInputZone input:focus {
    outline: none;
}

.registerButton {
    width: 400px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(250, 150, 0);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.registerButton:disabled {
    width: 400px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(160, 160, 160);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: auto;
}

.registerCancelButton {
    font-size: 1.2rem;
    color: rgb(160, 160, 160);
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.messageInvalid {
    font-size: 0.9rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.iconValid {
    color: limegreen;
    margin-right: 0.25rem;
}

.iconInvalid {
    color: red;
    margin-right: 0.25rem;
}

.line {
    display: inline-block;
}



@media screen and (max-width: 1200px) {
    .registerZone {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: calc(5vh + 40px);
        width: 90vw;
        height: 90vh;
        display: block;
    }

    .registerZoneLeft {
        display: none;
    }

    .registerZoneRight {
        width: 90vw;
        height: 90vh;
        padding: 5vw;
    }

    .mainTitle {
        font-size: 3rem;
        margin-top: 20px;
    }

    .subTitle {
        font-size: 0.9rem;
    }

    .inputZone input {
        width: 80vw;
        height: 50px;
        font-size: 1.2rem;
    }

    .inputZone input::placeholder {
        font-size: 1.2rem;
    }

    .loginButton {
        width: 80vw;
    }

    .genderButtonOn {
        width: calc(40vw - 50px);
        font-size: 1.2rem;
    }

    .genderButtonOff {
        width: calc(40vw - 50px);
        font-size: 1.2rem;
    }

    .birthInputZone input {
        width: calc(80vw - 100px);
        font-size: 1.2rem;
    }

    .registerZone {
        font-size: 1rem;
    }

    .findPasswordZone {
        font-size: 1rem;
    }

    .registerButton {
        width: 80vw;
        font-size: 1.5rem;
        margin-top: 15px;
    }

    .registerButton:disabled {
        width: 80vw;
        font-size: 1.5rem;
        margin-top: 15px;
    }

    .instructions {
        font-size: 0.8rem;
    }
}