.mainZone {
    height: 700px;
    width: 700px;
    background: linear-gradient(45deg, rgb(50, 50, 100) 10%, rgb(0, 200, 200) 90%);
    border-radius: 0px 10px 10px 0px;
}

.text1 {
    padding-right: 50px;
    line-height: 1;
    font-size: 4.5rem;
    color: white;
    text-align: right;
}

.text2 {
    font-weight: 1000;
}

.image1 {
    height: 300px;
    margin-left: 50px;
    margin-top: 30px;
}

.image2 {
    height: 100px;
    margin-left: 170px;
    margin-top: -10px;
}