.mainZone {
    height: 700px;
    width: 700px;
    background: linear-gradient(45deg, rgb(253, 29, 29) 10%, rgb(252, 176, 69) 90%);
    border-radius: 0px 10px 10px 0px;
}

.text1 {
    line-height: 1;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.text2 {
    font-size: 6rem;
    font-weight: 1000;
}

.image2 {
    height: 300px;
    margin-top: 70px;
    margin-left: 100px;
    text-align: center;
}