@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, rgb(0, 200, 200) 40%, rgb(50, 100, 200) 90%);
}

.loginZone {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: calc(50vh - 270px);
    width: 60vw;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 500px;
}

.loginZoneLeft {
    width: calc(60vw - 400px);
    height: 600px;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.loginZoneRight {
    width: 400px;
    height: 600px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 0.3);
    padding: 50px;
}

.titleLogo {
    height: 200px;
    filter: brightness(0) invert(1);
}

.graphic {
    height: 300px;
}

.mainTitle {
    font-size: 3rem;
    font-family: 'Poppins', serif;
    font-weight: 500;
    color: rgb(0, 200, 200);
    letter-spacing: -3px;
    margin-top: -10px;
}

.subTitle {
    font-size: 0.9rem;
    color: rgb(160, 160, 160);
    margin-top: -10px;
    margin-bottom: 20px;
}

.inputZone input {
    text-align: center;
    width: 300px;
    height: 60px;
    font-size: 2rem;
    font-weight: 1000;
    color: rgb(0, 200, 200);
    text-align: left;
    background-color: rgb(255, 255, 255);
    border: transparent;
    border-bottom: 2px solid rgb(0, 200, 200);
    margin-bottom: 10px;
}

.inputZone input:focus {
    outline: none;
}

.inputZone input::placeholder {
    font-size: 1.5rem;
    color: rgb(200, 200, 200);
}

.loginButton {
    width: 300px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(250, 150, 0);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
    cursor: pointer;
}

.registerZone {
    font-size: 1.1rem;
    color: rgb(160, 160, 160);
    margin-top: 20px;
    text-align: center;
}

.registerButton {
    font-weight: 1000;
    color: rgb(250, 150, 0);
    cursor: pointer;
}

.findPasswordZone {
    font-size: 1.1rem;
    color: rgb(160, 160, 160);
    text-align: center;
}

.findPasswordButton {
    font-weight: 1000;
    color: rgb(250, 150, 0);
    cursor: pointer;
}



@media screen and (max-width: 1200px) {
    .loginZone {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: calc(5vh + 40px);
        width: 90vw;
        height: 90vh;
        display: block;
    }

    .loginZoneLeft {
        display: none;
    }

    .loginZoneRight {
        width: 90vw;
        height: 90vh;
        padding: 5vw;
    }

    .mainTitle {
        font-size: 3rem;
        margin-top: 20px;
    }

    .subTitle {
        font-size: 1rem;
    }

    .inputZone input {
        width: 80vw;
    }

    .loginButton {
        width: 80vw;;
        font-size: 1.5rem;
        margin-top: 25px;
    }

    .registerZone {
        font-size: 0.85rem;
    }

    .findPasswordZone {
        font-size: 0.85rem;
    }
}