.mainZone {
    height: 700px;
    width: 700px;
    background: linear-gradient(0deg, rgb(12, 31, 66) 10%, rgb(51, 85, 252) 50%, rgb(12, 31, 66) 90%);
    border-radius: 0px 10px 10px 0px;
}

.text1 {
    font-size: 3rem;
    color: white;
    text-align: left;
    padding-left: 30px;
    z-index: 1;
}

.text2 {
    font-size: 4rem;
    color: white;
    font-weight: 1000;
    text-align: left;
    padding-left: 30px;
    line-height: 1.2;
    z-index: 1;
}

.text3 {
    font-size: 1.2rem;
    color: white;
    padding-left: 30px;
    z-index: 1;
}

.image1 {
    height: 700px;
    margin-top: -70px;
    margin-left: -25px;
    z-index: 0;
}