* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

select,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: text;
}

@font-face {
    font-family: "SDGothicNeoB";
    src: url("../public/fonts/AppleSDGothicNeoB.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SDGothicNeoEB";
    src: url("../public/fonts/AppleSDGothicNeoEB.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SDGothicNeoH";
    src: url("../public/fonts/AppleSDGothicNeoH.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SDGothicNeoL";
    src: url("../public/fonts/AppleSDGothicNeoL.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SDGothicNeoM";
    src: url("../public/fonts/AppleSDGothicNeoM.ttf") format("truetype");
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: "SDGothicNeoM", sans-serif;
}