@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), 
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'),
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 1000;

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    transition: 0.3s;

    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

select,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: text;
}