.header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: left;
    height: 70px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgb(0, 200, 200);
    z-index: 1;
}

.title {
    color: white;
    font-weight: 500;
    padding-left: 40px;
    margin-bottom: 15px;
    align-items: center;
    cursor: pointer;
}

.titleLogo {
    height: 100px;
    margin-top: 20px;
}

.headerButton {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: right;
    right: 100px;
}

.headerButton button {
    width: 100px;
    height: 40px;
    font-size: 1.2rem;
    align-items: center;
    border: transparent;
    border-radius: 5px;
    background-color: rgb(160, 160, 160);
    color: rgb(255,255, 255);
    cursor: pointer;
}