@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: "NanumBarunGothic", sans-serif;
}

.iconbox {
    width: 430px;
    height: 130px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgb(240, 240, 240) 40%, rgb(224, 224, 224) 30%);
    color: rgb(100, 100, 100);
    border-radius: 3px;
    font-size: 1.5rem;
    user-select: none;
    margin: 10px;
}

.zone1 {
    width: 160px;
    height: 100%;
    float: left;
    text-align: center;
}

.zone1 img {
    text-align: center;
    width: 180px;
    height: 90px;
    margin-top: 18px;
    margin-left: -3px;
}

.zone2 {
    margin-top: 17px;
    margin-left: 30px;
    width: 200px;
    float: left;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 1000;
}

.zone21 {
    text-align: left;
    align-items: center;
    margin-left: 13px;
}

.zone22 {
    width: 210px;
    text-align: left;
    align-items: center;
    margin-left: 10px;
}

.zone23 {
    width: 210px;
    align-items: center;
    margin-left: 7px;
}

.costButton {
    font-family: 'NanumBarunGothic';
    width: 56px;
    height: 30px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(180, 180, 180);
    border-radius: 4px;
    border: 1px solid rgb(224, 224, 224);
    cursor: pointer;
}

.resetButton {
    font-family: 'NanumBarunGothic';
    width: 32px;
    height: 30px;
    line-height: 1px;
    font-size: 1rem;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    background-color: rgb(130, 130, 130);
    border-radius: 4px;
    border: 1px solid rgb(224, 224, 224);
    cursor: pointer;
}

.inputZone {
    width: 200px;
    height: 40px;
    font-family: 'Poppins', serif;
    font-size: 1.6rem;
    font-weight: 1000;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 200, 200);
    text-align: right;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    margin-left: 2px;
    margin-top: 5px;
}



.inputZone:valid {
    background-color: rgb(200, 255, 255);
    color: rgb(0, 200, 200);
}

.inputZone::placeholder {
    color: rgb(210, 210, 210);
}