.elementsContainer {
    width: 60vw;
    height: fit-content;
    margin: 0px auto;
    margin-top: 10px;
    padding: 30px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.elementsContainer1 {
    display: grid;
    grid-template-columns: 40px 1fr;
}

.elementsContainer21 {
    display: grid;
    grid-template-columns: 120px 90px 1fr;
}

.elementsContainer22 {
    display: grid;
    grid-template-columns: 120px 90px 1fr;
}

.elementColor {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.elementIcon {
    width: 20px;
    height: 20px;
    margin: 10px;
    filter: invert();
}

.elementName {
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
}

.elementValue1 {
    font-size: 1.5rem;
    height: 40px;
    line-height: 40px;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 10px;
}

.elementValue2 {
    font-size: 0.8rem;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
    margin-left: 20px;
}

.elementPercent1 {
    font-size: 1.5rem;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.elementPercent2 {
    font-size: 1rem;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.elementBar1 {
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
    border-radius: 0px 5px 5px 0px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.elementBar2 {
    font-size: 0.8rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
    border-radius: 0px 5px 5px 0px;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
}



@media screen and (max-width: 1600px) {
    .elementsContainer {
        grid-template-columns: none;
        grid-template-rows: 40px 1fr;
    }

    .elementValue {
        text-align: left;
    }
}



@media screen and (max-width: 1200px) {
    .elementsContainer {
        width: 90vw;
    }
}