.elementsContainer {
    width: 60vw;
    height: 70px;
    margin: 0px auto;
    margin-top: 10px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    display: grid;
    grid-template-columns: 50px 1fr 200px 80px 220px;
}

.elementColor {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
}

.elementName {
    font-size: 1.2rem;
    height: 70px;
    line-height: 70px;
    margin-left: 20px;
}

.elementValue {
    font-size: 1.5rem;
    height: 70px;
    line-height: 70px;
    text-align: right;
    margin-right: 20px;
}

.elementPercentageValue {
    font-size: 1rem;
    height: 30px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    border-radius: 5px 0px 0px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.elementPercentageBar {
    border-radius: 0px 5px 5px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}