.bestCardContainer {
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 120px;
}

.bestCardImage {
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 4px 5px rgb(100, 100, 100);
}

.bestCardName {
    font-size: 3rem;
    text-align: left;
    color: rgb(0, 200, 200);
    margin-top: 20px;
    word-break: keep-all;
}
.bestCardInfo {
    width: 400px;
    height: 40px;
    margin-top: 5px;
    display: flex;
    grid-template-columns: 200px 200px;
}

.bestCardType {
    font-size: 1.5rem;
    height: 40px;
    line-height: 40px;
    padding-right: 30px;
    border-right: 1px solid rgb(220, 220, 220);
}

.bestCardCompanyLogo {
    height: 80px;
    margin-top: -20px;
    padding-left: 15px;
}

.selectedContainer {
    width: 60vw;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    border-radius: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.selectedContainerLeft {
    height: 160px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.selectedContainerLeftTop {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.selectedContainerLeftType {
    font-size: 1rem;
    line-height: 60px;
    text-align: left;
}

.selectedContainerLeftValue {
    font-size: 3rem;
    font-weight: 100;
    color: rgb(0, 200, 200);
    line-height: 60px;
    text-align: right;
}

.selectedContainerLeftBottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 20px;
}

.selectedContainerRight {
    width: 40vw;
    height: 160px;
    border-left: 1px solid rgb(220, 220, 220);
    padding-left: 20px;
}

.selectedContainerRightElements {
    width: 20%;
    height: 160px;
}

.selectedLogo {
    width: 150px;
    margin: 0px auto;
}

.selectedName {
    font-size: 1rem;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
}

.match {
    width: fit-content;
    font-weight: 100;
    margin: 0px auto;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 150, 0);
}

.subText {
    width: 60vw;
    font-size: 2rem;
    
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 20vw;
    text-align: left;
    color: rgb(0, 200, 200);
    transition: 0.5s;
}

.benefitElementsContainer {
    width: 60vw;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    border-radius: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 120px 1fr;
}

.benefitLogo {
    height: 60px;
}

.benefitInfo {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.benefitName {
    font-size: 1.5rem;
    line-height: 60px;
    word-break: keep-all;
    text-align: left;
}

.benefitValue {
    font-size: 1.5rem;
    line-height: 60px;
    word-break: keep-all;
    text-align: right;
    color: rgb(0, 200, 200);
}

.moreCardsContainer {
    width: 60vw;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
    border-radius: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 150px;
    padding: 20px;
}

.moreCardsRows {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.moreCardsElements {
    cursor: pointer;
    display: grid;
    grid-template-rows: 140px 50px 1fr;
}

.moreCardsElements:hover {
    color: rgb(0, 200, 200);
}

.moreCardsImage {
    height: 100px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 2px 3px rgb(100, 100, 100);
}

.moreCardsImage:hover {
    height: 120px;
}

.moreCardsCompanyImage {
    width: 120px;
    display: block;
    margin: 0px auto;
}

.moreCardsName {
    font-size: 1.2rem;
    padding-bottom: 20px;
    text-align: center;
    word-break: keep-all;
}

.moreCardsButton {
    font-size: 1.5rem;
    color: rgb(0, 200, 200);
    background-color: transparent;
    border: none;
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    text-align: center;
}

.goToCardInfoButton {
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    font-size: 1.8rem;
    background: linear-gradient(135deg, rgb(0, 200, 200) 10%, rgb(0, 100, 200) 90%);
    color: rgb(255, 255, 255);
    border: transparent;
    cursor: pointer;
    z-index: 1;
}



@media screen and (max-width: 1300px) {
    .bestCardContainer {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 120px;
    }

    .selectedContainer {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr;
        gap: 50px;
    }

    .selectedContainerLeft {
        height: 50px;
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
    }

    .selectedContainerLeftTop {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        border-bottom: none;
        border-right: 1px solid rgb(220, 220, 220);
    }

    .selectedContainerLeftBottom {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        margin-top: 0px;
    }

    .selectedContainerRight {
        width: calc(90vw - 40px);
        border-left: none;
        border-top: 1px solid rgb(220, 220, 220);
        padding-top: 10px;
    }

    .selectedContainerLeftType {
        line-height: 0;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .selectedContainerLeftValue {
        line-height: none;
        text-align: center;
        margin-top: -10px;
    }

    .subText {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .benefitElementsContainer {
        width: 90vw;
        height: 80px;
        margin-left: 5vw;
        margin-right: 5vw;
        display: grid;
        grid-template-columns: 120px 1fr;
    }

    .benefitLogo {
        height: 60px;
    }

    .benefitInfo {
        margin-left: 10px;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .benefitName {
        font-size: 1.2rem;
        line-height: 30px;
    }

    .benefitValue {
        font-size: 1.2rem;
        line-height: 30px;
        text-align: left;
    }

    .moreCardsContainer {
        width: 90vw;
        background-color: transparent;
        border: none;
        box-shadow: none;
        border-radius: none;
        margin-left: 5vw;
        margin-right: 5vw;
        padding: 0px;
    }

    .moreCardsRows {
        display: block;
        grid-template-columns: none;
    }

    .moreCardsElements {
        height: 80px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(230, 230, 230);
        box-shadow: 0px 5px 10px 0px rgba(150, 150, 150, 0.3);
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        grid-template-rows: none;
        grid-template-columns: 100px calc(90vw - 100px);
        text-align: left;
    }

    .moreCardsImage {
        height: 60px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .moreCardsCompanyImage {
        display: none;
    }

    .moreCardsName {
        width: calc(90vw - 100px);
        line-height: 80px;
        padding-left: 20px;
        font-size: 1.2rem;
        text-align: left;
    }

    .moreCardsButton {
        text-align: right;
        margin-top: 20px;
    }
}



@media screen and (max-width: 600px) {
    .bestCardImage {
        width: 200px;
        border-radius: 10px;
        box-shadow: 0px 4px 5px rgb(100, 100, 100);
    }

    .bestCardName {
        font-size: 2rem;
        margin-top: 10px;
    }

    .bestCardInfo {
        width: 300px;
        height: 30px;
        margin-top: 5px;
        display: flex;
        grid-template-columns: 150px 150px;
    }
    
    .bestCardType {
        font-size: 1.2rem;
        height: 30px;
        line-height: 30px;
        padding-right: 15px;
    }
    
    .bestCardCompanyLogo {
        height: 60px;
        margin-top: -15px;
        padding-left: 5px;
    }

    .subText {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .benefitName {
        font-size: 1rem;
    }

    .benefitValue {
        font-size: 1rem;
    }

    .moreCardsName {
        font-size: 1rem;
    }
}