.serviceRow {
    display: block;
    margin: 0px auto;
    width: 60vw;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}

.sendButtonEnable {
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    font-size: 1.5rem;
    background: linear-gradient(135deg, rgb(250, 200, 100) 10%, rgb(250, 150, 0) 90%);
    color: rgb(255, 255, 255);
    border: transparent;
    cursor: pointer;
    z-index: 1;
}

.sendButtonDisable {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: calc(100vh - 80px);
    font-size: 1.5rem;
    background-color: rgb(160, 160, 160);
    color: rgb(255, 255, 255);
    border: transparent;
    cursor: none;
    z-index: 1;
}



@media screen and (max-width: 900px) {
    .serviceRow {
        grid-template-columns: 1fr;
        width: 90vw;
        margin-left: 5vw;
        transition: 0.5s;
    }

    .sendButton {
        width: 90vw;
        margin-left: 5vw;
        transition: 0.5s;
    }
}